

.projects
  height: 100vh
  position: relative
  width: 100vw

.projects-list
  background-color: $white
  display: block
  height: 100vw
  margin: 0
  overflow-y: auto
  overflow-x: hidden
  padding: 100vh 0 0 0
  position: absolute
  top: 0
  left: 0
  transform: rotate(-90deg) translateY(-100vh)
  transform-origin: right top
  white-space: nowrap
  width: 100vh

.project-item
  box-sizing: border-box
  display: block
  height: 50vw
  position: relative
  transform: rotate(90deg)
  transform-origin: right top
  width: 100vh

  > h2
    width: 100px
    height: 400px


