header
	@include flex (space-between, row, center)
	height: 70px
	margin: 0 auto
	padding: 0 5vw
	position: fixed
	width: 100vw
	z-index: 2

.logo
	background-color: $coal
	border-radius: 0 24px 24px 0
	height: 32px
	width: 32px
