header
	@include flex (space-between, row, center)
	background-color: rgba($white, 0.9)
	height: 70px
	margin: 0 auto
	padding: 0 5vw
	position: fixed
	width: 100vw
	z-index: 2

.logo
	background-color: $coal
	border-radius: 0 24px 24px 0
	height: 32px
	width: 32px

.menu-items
	@include font-styles($size-b, $bold, $size-c, $coal)
	@include flex(space-around, row, center)
	width: 30vw

.menu-item

	> a
		@include font-styles($size-b, $light, $size-c, $coal)

		&:hover
			opacity: 0.5
			transition: all 0.3s ease