.project-description
	overflow: auto

.presentation-image
	height: auto
	overflow: auto
	position: absolute
	top: 50%
	transform: translateY(-50%)
	width: 100%

.presentation-image__right
	right: -1px

.project-screen-description
	@include flex(flex-start, row, center)
	@include font-styles(12px, $regular, 14px, $gray)
	bottom: 50px
	padding: 0 0 0 50px
	position: absolute
	text-transform: uppercase
	width: 100%

@media (max-width: 768px)
	.presentation-image
		width: 90%

	.project-screen-description
		bottom: 20px
