\::-webkit-scrollbar
    width: 1px
    height: 1px

\::-webkit-scrollbar-button
    width: 1px
    height: 1px

.container
    background-color: $white
    display: block
    position: absolute
    left: 0
    margin: 0
    max-height: 100vw
    overflow-x: hidden
    overflow-y: auto
    padding: 0
    scroll-behavior: smooth
    top: 0
    transform: rotate(-90deg) translateY(-100vh)
    transform-origin: right top
    white-space: nowrap
    width: 100vh

ul.container > a > li > img
    bottom: 0
    height: auto
    opacity: 0
    position: absolute
    transition: all 0.3s ease
    width: 100%

ul.container > a
    &:hover
        > .hero
            background-color: $coal

        > .camp-gladiator
            +image("images/camp-gladiator-cover-background@2x.png")

            background-blend-mode: soft-light
            background-color: $camp-gladiator

        > .games4u
            +image("images/games4u-cover-background@2x.png")

            background-blend-mode: saturation
            background-color: $games4u

        > .soy-luna
            +image("images/soy-luna-cover-background@2x.png")

            background-blend-mode: soft-light
            background-color: $soy-luna

        > .vdeo
            +image("images/vdeo-cover-background@2x.png")

            background-blend-mode: soft-light
            background-color: $vdeo

        > .ipanema
            +image("images/ipanema-cover-background@2x.png")

            background-blend-mode: multiply
            background-color: $ipanema

        > .getnet
            +image("images/getnet-cover-background@2x.png")

            background-blend-mode: soft-light
            background-color: $getnet

        > .kikast
            +image("images/kikast-cover-background@2x.png")

            background-blend-mode: soft-light
            background-color: $kikast

        > .terra
            +image("images/terra-cover-background@2x.png")

            background-blend-mode: soft-light
            background-color: $terra

        > .bank-app
            +image("images/bank-app-cover-background@2x.png")

            background-blend-mode: soft-light
            background-color: $bank-app

        > .eygl
            +image("images/eygl-cover-background@2x.png")

            background-blend-mode: soft-light
            background-color: $eygl

        > .besafe
            +image("images/besafe-cover-background@2x.png")

            background-blend-mode: soft-light
            background-color: $besafe

        > .retailpar
            +image("images/retailpar-cover-background@2x.png")

            background-blend-mode: overlay
            background-color: $retailpar

        > .crowdstuffer
            +image("images/crowdstuffer-cover-background@2x.png")

            background-blend-mode: soft-light
            background-color: $crowdstuffer

        > .burger-in-the-box
            +image("images/burger-in-the-box-cover-background@2x.png")

            background-blend-mode: soft-light
            background-color: $burger-in-the-box

        > .run-calendar
            +image("images/run-calendar-cover-background@2x.png")

            background-blend-mode: soft-light
            background-color: $run-calendar

        > li > img
            opacity: 1
            transition: all 0.3s ease

        > li > div
            transform: translateY(-60%)
            transition: all 0.3s ease

            > h1, h2, h3, p
                color: $white
                transition: all 0.3s ease

.panel
    background-color: $white
    background-position: bottom
    border-right: 1px solid $mist
    display: block
    height: 100vh
    margin: calc(-100vh + 33.36vw) 0
    transform: rotate(90deg) translateX(-33.36vw)
    transform-origin: bottom left
    transition: all 0.3s ease
    white-space: normal
    width: 33.33vw

    > div
        height: 60%
        padding: 70px
        position: absolute
        top: 50%
        transform: translateY(-50%)
        transition: all 0.3s ease
        width: 100%

.panel__border--none
    border: none

@media (max-width: 768px)
    ul.container > a > li > img
        bottom: 50px

    .panel
        margin: calc(-100vh + 100vw) 0
        transform: rotate(90deg) translateX(-100vw)
        width: 100vw

        > div
            height: 80%
            padding: 50px