html
  scroll-behavior: smooth

.container
  position: absolute
  display: block
  top: 0
  left: 0
  width: 100vh
  max-height: 100vw
  margin: 0
  background: #abc
  overflow-y: auto
  overflow-x: hidden
  transform: rotate(-90deg) translateY(-100vh)
  transform-origin: right top
  padding: 33.33vw 0 0 0
  white-space: nowrap

.hero, .menu, .project-item
  border-bottom: 1px solid $white
  display: block
  height: 100vh
  padding: 5px
  background: #cab
  transform: rotate(90deg)
  transform-origin: bottom left
  width: 33.33vw
  margin: 0
  white-space: normal
