$default-size: 14px
$thin: 100
$light: 200
$regular: 300
$semi-bold: 600
$bold: 700
$extra-bold: 800
$black: 900

$size-a: 1rem
$size-b: $size-a * 1.3
$size-c: $size-b * 1.3
$size-d: $size-c * 1.3
$size-e: $size-d * 1.3
$size-f: $size-e * 1.3
$size-g: $size-f * 1.3

$white: #ffffff
$coal: #111111
$gray: #989898
$mist: #f2f1ef
$black: #000000

$soy-luna: #07dafc
$games4u: #55ffd6
$vdeo: #d3348e
$ipanema: #f54f6b
$getnet: #3197da
$kikast: #f55652
$terra: #f67113
$bank-app: #00e49f
$eygl: #5b39d0
$besafe: #09a3e8
$retailpar: #1f302a
$crowdstuffer: #ff7b06
$burger-in-the-box: #201a0d
$run-calendar: #f2503d
$camp-gladiator: #c8102e
$goat: #6217FF
